* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/wallpaperflare-cropped.jpg");
  background-size: cover;
}

@media (max-width: 1400px) {
  body {
    background: #376386;
  }
}

form {
  background-color: #20202065;
  width: 400px;
  height: 450px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 30px 50px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

form h1 {
  color: #fff;
  font-size: 24px;
  text-align: center;
}

form * {
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
  font-weight: 600px;
  font-size: 14px;
  letter-spacing: 0.5px;
}

input {
  display: block;
  position: absolute;
  width: 300px;
  height: 2px;
  background-color: #4f505280;
  color: #ffffff;
  border-radius: 5px;
  padding: 0 15px;
  font-weight: 300px;
  transition: 0.5s all;
}

label {
  position: absolute;
  display: inline-block;
  color: #e5e5e5;
  cursor: pointer;
  font-size: 12px;
  transition: 0.5s all;
}

#username {
  bottom: 305px;
}

label[for="username"] {
  bottom: 310px;
}

#password {
  bottom: 195px;
}

label[for="password"] {
  bottom: 200px;
}

::placeholder {
  color: transparent;
}

.my-style::placeholder {
  color: #a5a5a5;
}

button {
  position: absolute;
  bottom: 70px;
  width: 300px;
  padding: 20px 0;
  border-radius: 5px;
  background-color: #2260797c;
  color: #ffffff;
  cursor: pointer;
}
